@model dynamic

@{
    Layout = null;

    var numbers = (int[])ViewData["numbers"];
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        ---Index View---
        <br />
        @ViewData["message"]
        <br />
        @ViewBag.MessageV
        <br />

        @foreach (var number in numbers)
        {
            @number
            <br />
        }
        
        @if (TempData["message"] != null)
        {
           @TempData["message"]
        }
    </div>
</body>
</html>