@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <script type="text/javascript" src="~/Javascript/Alert"></script>
    </head>
    <body>
        <div>
              Javascript Controller - Index View
        </div>
    </body>
</html>