
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@TempData["message"]</title>
</head>
<body>
    <div>
        @TempData["message"]
    </div>
</body>
</html>
